[submodule "SPTLib"]
	path = SPTLib
	url = https://github.com/YaLTeR/SPTLib.git
[submodule "hltas"]
	path = hltas
	url = https://github.com/HLTAS/hltas.git
[submodule "hlstrafe"]
	path = hlstrafe
	url = https://github.com/HLTAS/hlstrafe.git
[submodule "taslogger"]
	path = taslogger
	url = https://github.com/HLTAS/taslogger.git
[submodule "cereal"]
	path = cereal
	url = https://github.com/USCiLab/cereal.git
