[submodule "SPTLib"]
	path = SPTLib
	url = https://github.com/YaLTeR/SPTLib.git
[submodule "hlstrafe"]
	path = hlstrafe
	url = https://github.com/HLTAS/hlstrafe.git
[submodule "taslogger"]
	path = taslogger
	url = https://github.com/HLTAS/taslogger.git
[submodule "cereal"]
	path = cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "discord-rpc"]
	path = discord-rpc
	url = https://github.com/YaLTeR/discord-rpc.git
